body{
    padding: 5px;
}

footer{
    height: 30px;
    position: absolute;
    bottom: 0;
}

.fundo_admin {
    background-color: #f3f6f8;
}

.msg_size{
    margin-top: -10px;
    font-size: 10px;
}
